body {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}
hr {
  color: rgba(255, 255, 255, 1);
}
/*Main Block & Header*/
.mainBlock {
  display: block;
  margin: 50px auto;
  max-width: 1300px;
  block-size: 600px;
}
header {
  display: block;
  margin: 0 auto;
  padding: 75px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 68px;
}
table {
  border: none;
}
td {
  border: none;
}
/*Left SBlock*/
.leftSBlock {
  padding-right: 10px;
}
h4 {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
input {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 1);
  transition: all 150ms ease-in-out;
}
input:hover {
  background: rgba(190, 180, 214, 0.7);
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}
.magnifierButton {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 7px;
  background: rgba(0, 0, 0, 1);
  transition: all 150ms ease-in-out;
}
.magnifierButton:hover {
  background: rgba(190, 180, 214, 0.7);
  color: rgba(0, 0, 0, 1);
}
.degreeButton {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 7px;
  background: rgba(0, 0, 0, 1);
  transition: all 150ms ease-in-out;
}
.degreeButton:hover {
  background: rgba(190, 180, 214, 0.7);
  color: rgba(0, 0, 0, 1);
}
.tableForecast {
  color: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
}
/*Right SBlock*/
.rightSBlock {
  max-width: 800px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 0;
  margin-left: 20px;
}
.currently {
  text-align: center;
}
.information {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  margin: 60px auto;
  font-weight: bold;
}
.weatherDescription {
  display: block;
  margin: 0 auto;
  text-transform: capitalize;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.maxMinTemp {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.date {
  text-align: right;
  /*tratar da situação do bottom alignment*/
  vertical-align: text-bottom;
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}
.extraInfo {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.extraInfo table {
  margin: 0;
  max-height: 100px;
}
.tableInfo tr {
  line-height: 10px;
  height: 10px;
  color: rgba(255, 255, 255, 1);
}
.tdInfo {
  text-align: right;
}
.tdValue {
  text-align: left;
}
/*Icons*/
.fa-cloud-bolt {
  color: rgba(247, 247, 180, 1);
}
.fa-rain {
  color: rgba(180, 218, 247, 1);
  --fa-bounce-height: 10;
  --fa-bounce-rebound: 0;
}
.fa-cloud-showers-heavy {
  color: rgba(142, 162, 186, 1);
  --fa-bounce-height: 10;
  --fa-bounce-rebound: 1;
}
.fa-snowflake {
  color: rgba(180, 218, 247, 1);
  --fa-animation-duration: 30s;
}
.fa-sun {
  color: rgba(247, 247, 180, 1);
  --fa-animation-duration: 30s;
}
.fa-moon {
  color: rgba(158, 158, 167, 1);
  --fa-beat-scale: 1.2;
  --fa-animation-duration: 3.5s;
}
.fa-cloud {
  color: rgba(142, 162, 186, 1);
  --fa-bounce-height: 10;
  --fa-bounce-rebound: 0;
}
.fa-smog {
  color: rgb(198, 198, 198);
}
.fa-industry {
  color: rgb(198, 198, 198);
  --fa-animation-duration: 3.5s;
}
.fa-volcano {
  color: rgba(184, 144, 123, 1);
}
.fa-wind {
  color: rgba(255, 255, 255, 1);
}
.fa-tornado {
  color: rgba(255, 255, 255, 1);
}
/*Footer*/
.codedBy {
  text-align: right;
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat", sans-serif;
}

a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
a:hover {
  color: rgba(190, 180, 214, 1);
}
